<!-- PUB --->
<div class="text-center">

    {% if app.environment == 'dev' %}
        dev
    {% else %}
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- test chaussures -->
        <ins class="adsbygoogle"
             style="display:inline-block;width:728px;height:90px"
             data-ad-client="ca-pub-8150493752884542"
             data-ad-slot="1024469312"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    {% endif %}
</div>
<!-- FIN PUB --->