<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="language" content="{{ locale }}" />
    <meta http-equiv="refresh" content="0;URL='{{ url }}'">
</head>
<body>
</body>
</html>







